.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;
    max-width: 800px;
    margin: auto;
  } 

  form {
    display: flex;
    align-items: center;    
    justify-content: center;
  }
   
  main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .grilla {
    margin: auto;
    list-style: none;

    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    width: 100%;
    gap:30px
  }

  .pelicula {
    text-align: center;
  }
  
  .pelicula h3, .pelicula p {
    margin: 0;
  }
  
  .pelicula img {
    border-radius: 8px;
    margin-top: 16px;
   
    max-width: 100%;
    height: auto;
  
  }
  
  